$primary-color: #605dec;
$primary-dark-color: #4b49d8;
$primary-light-color: #ededfe;

$success-color: #31aa27;
$success-light-color: #ebf6eb;

$warning-color: #e99518;
$warning-light-color: #fff4e4;

$danger-color: #f93232;
$danger-light-color: #fff0f0;
