@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "./variables";

:root {
  font-family: "Nunito Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
}

#app {
  padding: 72px;
}

@media screen and (max-width: $breakpoint-lg) {
  #app {
    padding: 48px 32px;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
